#root {
  display           : flex;
  flex-direction    : column;
  width             : 400px;
  background        : #fff;
  border-radius     : 5px;
  color             : #4e4e4e;
  box-shadow        : hsla(230, 30%, 0%, 0.3) 0px 0px 50px;
  overflow          : hidden;
}

@media ( max-width: 499px ) {
  #root {
    height          : 100vh;
    width           : 100%;
    border-radius   : 0;
    border          : none;
    box-shadow      : none;
  }
}